.navigatorTitleRightAreaPopover {
  :global(.ant-popover-content .ant-popover-inner) {
    padding: 15px 12px 12px 15px;
  }

}

.navigatorTitleRightButton {
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  width: 80px;
}
